# django-cms 3.0 rc1
django-cms==3.0c1

Pillow>=2.0.0
django-filer>=0.9.4
cmsplugin-filer>=0.9.5
django-reversion

djangocms-text-ckeditor
djangocms-file
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-picture
djangocms-teaser
djangocms-video
djangocms-link
djangocms-snippet

djangocms-table
django-pipeline

psycopg2
hamlpy
docutils
PyYAML
requests
enum34
dj-static

newrelic
