!!! 5
- load sekizai_tags cms_tags menu_tags stack_tags
%html
    %head
        %title Shadowless@Al'Akir-EU
        - render_block "css" postprocessor "compressor.contrib.sekizai.compress"
        - addtoblock "css"
            %link{:href => "/static/shadowless.sass", :rel => "stylesheet", :type => "text/x-sass"}
        - endaddtoblock
    %body
        - cms_toolbar
        / Header and Nav
        %header.row
            .large-3.columns
                %h1
                    %a{:href => "{% page_url 'home' %}"} Shadowless
            .large-9.columns
                .right
                    %nav.main-nav
                        %ul
                            - show_menu 0 0
        / End Header and Nav
        .row
            / Main Content Section
            / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
            .large-9.push-3.columns
                - block content
                    - show_breadcrumb 0 "breadcrumb.haml"
            / Nav Sidebar
            / This is source ordered to be pulled to the left on larger screens
            .large-3.pull-9.columns.sidebar.sidebar-left
                - placeholder page_sidebar
                - stack "sidebar"
        / Footer
        %footer.row
            .large-12.columns
                %hr/
                .row
                    .large-6.columns
                        - stack "footer"
                        / %p © Copyright IS VERY RESERVED!!!
                    .large-6.columns
                        .inline-list.right
                            %nav.main-nav
                                %ul
                                    - show_menu 0
        - render_block "js" postprocessor "compressor.contrib.sekizai.compress"
        - addtoblock "js"
            %script{:src => "/static/foundation/js/vendor/jquery.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.alerts.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.clearing.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.cookie.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.dropdown.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.forms.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.joyride.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.magellan.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.orbit.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.placeholder.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.reveal.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.section.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.tooltips.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.topbar.js"}
            %script{:src => "/static/foundation/js/foundation/foundation.interchange.js"}
            :javascript
                $(document).foundation();
        - endaddtoblock
